<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!--Fonts-->
     <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
     
     <!-- Custom CSS -->
    <link rel="stylesheet" href="../style.css">
  </head>

    <!--Navbar-->
        <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
          <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navcollapse">
            <span class = "navbar-toggler-icon "></span>
          </button>
          <div class = "collapse navbar-collapse" id = "navcollapse">
              <ul class = "navbar-nav">
                  <li class = "nav-item">
                    <a class = "nav-link" href = "#">Home</a>
                  </li>
                  <li class = "nav-item">
                    <a class = "nav-link" href = "external-pages/roles.html">Roles</a>
                  </li>
                  <li class = "nav-item">
                    <a class = "nav-link" href = "external-pages/branches.html">Branches</a>
                  </li>
                  <li class = "nav-item">
                    <a class = "nav-link" href = "external-pages/parts.html">Game Components</a>
                  </li>
                  <li class = "nav-item">
                    <a class = "nav-link" href = "external-pages/about.html">Sources/About Me</a>
                  </li>
              </ul>
          </div>
        </nav>
        
    <!--Title-->
       <div class = "text-center mt-3 mb-3">
         <h1>Game Design Industry</h1>
         <img class = "img-fluid" src = "../img/title-pic.jpg">
       </div>
       
    <!--What is?-->
      <div class = "container text-center mb-3 bg-light">
        <h2>What is Game Design?</h2>
        <p>There are many people who are confused with what this career is. Game Design is a career in which combines the aspects of different types of careers to produce a game as an end product. Some of the fields combined in this industry are creative writing, art, and computer programming. </p>
      </div>
      
    <!--Why this Career and How-->
      <div class = "container text-center mt-5 mb-3">
        <h2>Why and How to Start?</h2>
        <p>There are many positive things that come with a career in game design. Becoming a game designer allows you to use your creativity and analytical skills. In addition, the work work environment is casual while also providing a competitive salary. Finally some of the key factors are that the career path is steady and you get to help others have fun by providing entertainment. A good place to start trying to become a game desinger would be in school. It is important to get at least a Bachelor's Degree while majoring in computer science as it will increase the amount of opportunities that are given later on. Also, majoring in computer scinece will help you gain more marketable skills to present to companis when at an interview for a position in the industry. Some examples of top colleges to study computer science would be at University of Southern California and Rochester Institute of Technology.</p>
        <img src = "../img/usc-logo.png">
        <img src = "../img/rit-logo.png">
      </div>